<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>68974934441-gqutdrgla50sim71qtt6vskr3vhr4qqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68974934441-gqutdrgla50sim71qtt6vskr3vhr4qqn</string>
	<key>API_KEY</key>
	<string>AIzaSyD-5RPQjPXLW6x1FrdJkXANG2O-EM19rgo</string>
	<key>GCM_SENDER_ID</key>
	<string>68974934441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sohamnagawanshi.QunectFour</string>
	<key>PROJECT_ID</key>
	<string>qunectfour</string>
	<key>STORAGE_BUCKET</key>
	<string>qunectfour.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68974934441:ios:02bcabf08d9dff4459ecb8</string>
</dict>
</plist>